* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Saque VI", Tahoma,  sans-serif;
    line-height: 1.7em;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    padding-bottom: 30px;
}

/* Utility Classes */

.clr {
    clear: both;
}
.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    overflow: auto;
}

.primary-color {
    color: #F7c08a;
}

.bg-primary {
    background-color: #F7c08a;
}

.btn {
    display: inline-block;
    font-size: 1.1em;
    color: white;
    background: #333;
    padding: 1.1em 1.2em;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: #F7c08a;
    color: #333;
}

.btn-light {
    background: #f4f4f4;
    color: #333;
}

.bg-dark {
    background: #333;
    color: #fff;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.py-1 {padding: 10px 0;}
.py-2 {padding: 20px 0;}
.py-3 {padding: 30px 0;}

p {
    margin: 10px;
}
/*Header*/

#header {
    color: white;
}

#logo {
    float: left;
    padding: 20px;
    font-weight: bolder;
    font-size: x-large;
}

#navbar, #navbar a {
    color: white;
    background: #333;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li{
    float: right;
}

#navbar ul li a{
    padding: 20px;
    display: block;
}
#navbar ul li a:hover{
    background: #444;
    color: #F7c08a;
}
#navbar ul li a:hover,
#navbar ul li a.current{
    padding: 20px;
    display: block;
}

#showcase {
    background: url("../img/libeary.jpg") no-repeat center center/cover;
    height: 50vh;
}

#showcase .showcase-content{
    color: white;
    text-align: center;
    padding-top: 15vh;
}

#showcase .showcase-content h1 {
    font-size: 4em;
    line-height: 1.2em;
}

#showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.7em;
    font-size: 1.2em;
}
#home-info{
    height: 400px;
}

#home-info .info-img {
    float: left;
    width: 50%;
    background: url("../img/books-bookstore-book-reading-159711.jpg") no-repeat;
    min-height: 100%;
}

#home-info .info-content {
    float: right;
    width: 50%;
    height: 15%;
    text-align: center;
    padding: 50px 30px;
}

#home-info .info-content p {
    padding-bottom: 30px;
}

.box {
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
}

.box i {
    margin-bottom: 10px;
}

#main-fotter {
    text-align: center;
    padding: 20px;
}


#about-info .info-right {
    float: right;
    width: 50%;
    min-height: 100%;
}

#about-info .info-left {
    float: left;
    width: 50%;
    min-height: 100%;
}

#about-info .info-right img {
    display: block;
    width: 77%;
    border-radius: 50%;
    margin: auto;
}


#testimonials {
    height: 600px;
    background: url("../img/libeary-3.jpeg")no-repeat center/cover;
    padding-top: 100px;
}

#testimonials h2 {
    color: white;
    text-align: center;
    padding-bottom: 40px;
    font-size: 3em;
}

#testimonials .testemonial {
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    opacity: 0.9;
}

#testimonials .testemonial img {
    width: 100px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}


#contact-form .form-group {
    margin-bottom: 20px;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
}

#contact-form textarea {
    height: 175px;
}

#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    border-color: #F7c08a;
}